.err {

  background-color: #0f1429;
  border: solid 2px #992be8;
  border-radius: 10px;
  box-shadow: 0 0 10px #992be8, 0 0 20px #992be8;
  margin-top: 100px;
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}