<div class="wrapper" *ngIf="dataSource">
  <h1 class="table-title">Repertoar</h1>

  <table mat-table [dataSource]="dataSource" class="table">

    <ng-container matColumnDef="movie">
      <th mat-header-cell *matHeaderCellDef> Movie </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef> Genre </th>
      <td mat-cell *matCellDef="let element"> {{element.genre.genreName}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date & Time</th>
      <td mat-cell *matCellDef="let element"> {{utils.formDate(element.projectionDate)}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}}&euro; </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.rarting}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button class="details-link" [routerLink]="['/details/' + element.projectionId]">Details</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="custom-row"></tr>

  </table>
</div>
