.wrapper {
  width: 1000px;
  margin: auto;
  background-color: #0f1429;
  padding-bottom: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 16px #912ce4;
}

.table-title {
  color: #c7c9d9;
  text-align: center;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  background-color: #121933;
  padding-left: 50px;
  padding-right: 50px;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

.custom-row:hover {
  background-color: #1d2550;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.details-link {
  color: #a328ed !important;
  font-weight: bold;
}

