<div *ngIf="dataSource" class="wrapper">
  <div *ngFor="let p of dataSource">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Tickets for: {{ p.name }}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="card-body">
        <div class="text-content">
          

          <mat-form-field appearance="fill" class="ticket-input">
            <mat-label>Ticket Quantity</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="ticketQuantity"
              [min]="1"
              [max]="p.projectionCapacity - p.soldTickets"
              required
            />
            <mat-hint>Available: {{ p.projectionCapacity - p.soldTickets }}</mat-hint>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            [disabled]="
              !userService.getActiveUser() ||
              ticketQuantity < 1 ||
              ticketQuantity > (p.projectionCapacity - p.soldTickets)
            "
            (click)="onAddToCart(p.projectionId, ticketQuantity)"
          >
            <i class="fa-solid fa-cart-shopping"></i> Add To Cart
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
