<div *ngIf="dataSource" class="wrapper">
  <div *ngFor="let p of dataSource">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ p.name }}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="card-body">
        <div class="text-content">
          <p>Actors:
            <span *ngFor="let a of p.actors; let last = last">
              {{ a.name }}<span *ngIf="!last">, </span>
            </span>
          </p>
        </div>
        <img mat-card-image [src]="'assets/' + p.name + '.jpg'" alt="Movie poster" class="movie-poster">
      </mat-card-content>

      <mat-card-footer class="example-card-footer">
        <div class="chip-container">
          <div class="left-chips">
            
          </div>

          <div class="right-chip">
            <mat-chip class="mat-chip-action" *ngIf="userService.getActiveUser()">
              <a [routerLink]="['/add-to-cart', p.projectionId]">
                <i class="fa-solid fa-cart-shopping"></i> Add To Cart
              </a>
            </mat-chip>

            <mat-chip class="mat-chip-action" *ngIf="!userService.getActiveUser()">
              <a routerLink="/login">
                <i class="fa-solid fa-cart-shopping"></i> Add To Cart
              </a>
            </mat-chip>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>