  <mat-toolbar class="nav">

    <span class="logo">My Application</span>

    <div class="nav-center">
      <a routerLink="/home">Home</a>
      <a routerLink="/show-times">Show Times</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/about">About Us</a>
    </div>

    <div class="auth-links">
      <button mat-flat-button class="auth-button">Log in</button>
      <button mat-flat-button class="auth-button">Sign up</button>
    </div>

  </mat-toolbar> 
  <router-outlet></router-outlet>
