<mat-toolbar>
  <span class="logo">1001 Films</span>

  <div class="nav-center">
    <a routerLink="/home" (click)="scrollToTop()"><i class="fa-solid fa-house"></i> Home</a>
    <a routerLink="/show-times"><i class="fa-solid fa-calendar"></i> Show Times</a>
    <a routerLink="/contact"><i class="fa-solid fa-share-nodes"></i> Contact</a>
    <a routerLink="/about"><i class="fa-solid fa-circle-info"></i> About Us</a>
    <a routerLink="/my-tickets" *ngIf="service.getActiveUser()"><i class="fa-solid fa-ticket"></i> My Tickets</a>
  </div>

  <div class="auth-links">
    <button routerLink="/login" mat-flat-button class="auth-button" *ngIf="!service.getActiveUser()">Log in</button>
    <button routerLink="/register" mat-flat-button class="auth-button" *ngIf="!service.getActiveUser()">Register</button>
    <button mat-flat-button class="auth-button" *ngIf="service.getActiveUser()" (click)="doLogout()">Log out</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
