<app-error *ngIf="error" [error]="error"></app-error>

<div *ngIf="projections" class="projections-wrapper">

  <div class="filters-container">
    <select [(ngModel)]="selectedGenre" (change)="applyFilters()">
      <option value="">All Genres</option>
      <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
    </select>

    <select [(ngModel)]="selectedDirector" (change)="applyFilters()">
      <option value="">All Directors</option>
      <option *ngFor="let director of directors" [value]="director">{{director}}</option>
    </select>
  </div>

  <div class="search-container">
    <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (input)="applyFilters()" />
  </div>

  <div class="projections-container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let p of filteredProjections">
      <img mat-card-image [src]="'assets/' + 'The Unknown' + '.jpg'" alt="Movie poster" class="movie-poster">

      <mat-card-content>
        <h1 class="movie-title">{{p.name}}</h1>
        <p><strong>Date & Time:</strong> {{ p.projectionDate | date:'short' }}</p>
        <p>Genre: {{p.genre.genreName}}</p>
        <p><strong>Duration:</strong> {{p.duration}}</p>
        <p><strong>Directed by:</strong> {{p.director}}</p>
        <p><strong>Price:</strong> €{{p.price}}</p>
      </mat-card-content>

      <mat-card-actions>
        <a mat-button class="btn-purple details-btn" [routerLink]="['/details/', p.projectionId]">
          <i class="fa-solid fa-arrow-up-right-from-square"></i> Details
        </a>

        <ng-container *ngIf="p.projectionCapacity > p.soldTickets; else soldOutBlock">
          <button mat-button class="btn-purple book-btn" [routerLink]="['add-to-cart', p.projectionId]" *ngIf="service.getActiveUser()">
            Add To Cart
          </button>

          <a mat-button class="btn-purple book-btn" routerLink="/login" *ngIf="!service.getActiveUser()">
            <i class="fa-solid fa-cart-shopping"></i> Add To Cart
          </a>
        </ng-container>

        <ng-template #soldOutBlock>
          <button mat-button class="sold-out-btn" disabled>SOLD OUT</button>
        </ng-template>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<app-loading *ngIf="!projections && !error" />
