<div *ngIf="dataSource" class="wrapper">
  <div *ngFor="let p of dataSource">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ p.name }}</mat-card-title>
      </mat-card-header>
      
      <mat-card-content class="card-body">
        <div class="text-content">
          <p>{{ p.longDescription }}</p>
          <p>Duration: {{p.duration}}min.</p>
          <p>Projection date: {{p.projectionDate | date:'short'}}</p>
          <p>Actors:
            <span *ngFor="let a of p.actors; let last = last">
              {{ a.name }}<span *ngIf="!last">, </span>
            </span>
          </p>
        </div>
        <!-- TODO -->
        <!-- Promeniti u p.name  -->
        <img mat-card-image [src]="'assets/' + 'The Unknown' + '.jpg'" alt="Movie poster" class="movie-poster">
      </mat-card-content>

      <mat-card-footer class="example-card-footer">
        <div class="chip-container">
          <div class="left-chips">
            <mat-chip>Genre: {{ p.genre.genreName }}</mat-chip>
            <mat-chip>Directed By: {{ p.director }}</mat-chip>
            <mat-chip>Price: €{{ p.price }}</mat-chip>
          </div>

          <div class="right-chip">
            <ng-container *ngIf="p.projectionCapacity > p.soldTickets; else soldOutChip">
              <mat-chip class="mat-chip-action" *ngIf="service.getActiveUser()">
                <a [routerLink]="['/add-to-cart', p.projectionId]">
                  <i class="fa-solid fa-cart-shopping"></i> Add To Cart
                </a>
              </mat-chip>

              <mat-chip class="mat-chip-action" *ngIf="!service.getActiveUser()">
                <a routerLink="/login">
                  <i class="fa-solid fa-cart-shopping"></i> Add To Cart
                </a>
              </mat-chip>
            </ng-container>

            <ng-template #soldOutChip>
              <mat-chip class="sold-out-chip">SOLD OUT</mat-chip>
            </ng-template>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
